.navbar {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    margin-top: 27px;
    margin-left: 147px;
    margin-right: 147px;
}

.leftnav {
    width: 167px;
    height: 31.038944244384766px;
    background-image: url("../assets/logo.svg");
    background-size: cover;


}

.middlenav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 342px;
    height: 43px;
}

.middlenav a {
    color: #475569;
    text-decoration: none;

}

.rightnav {
    display: flex;
    justify-content: space-between;
    gap: 15px;

}

.rightnav1 {
    width: 40px;
    height: 40px;
    background-image: url("../assets/Ellipse\ 2875.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moon {
    width: 17.987646102905273px;
    height: 17.987594604492188px;
    background-image: url("../assets/Vector.png");
    background-size: cover;
}

.rightnav2 button {
    color: aliceblue;
    background-color: #5044E5;
    width: 160px;
height: 46px;
border-radius: 33px;
text-decoration: none;

  border: none;





}